@use './var.scss';
@use './normilize.scss';
@use './position.scss';
@use './typography.scss';
@use './font.scss';
@use './animations.scss';
@use './transitions.scss';

#app {
  width: 100%;
  height: 100%;
  font-family: 'Montserrat', sans-serif;
  background-color: var(--color-surface);
}

#app {
  display: flex;
  flex-direction: column;
}

input,
select,
textarea {
  color: var(--color-text);
  &::placeholder {
    color: var(--color-on-surface-dim);
  }
}

.cursor {
  &-pointer {
    cursor: pointer;
  }

  &-default {
    cursor: default;
  }

  &-not-allowed {
    cursor: not-allowed;
  }
}
