@use './var.scss';
@use './normilize.scss';
@use './position.scss';
@use './typography.scss';
@use './font.scss';
@use './animations.scss';
@use './transitions.scss';

#app {
  position: relative;
  width: 100%;
  height: 100%;
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  font-weight: 40;
  font-style: normal;
  line-height: 18px;
  letter-spacing: 0.01em;
  color: var(--color-text);
  background-color: var(--color-surface);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow: hidden;

  &::before {
    content: '';
    position: absolute;
    inset: 0;
    pointer-events: none;
    z-index: 0;
    background: radial-gradient(
        ellipse at left center, /* ← смещаем центр влево */
        rgba(0, 0, 0, 0) 30%, /* ← центр светлый */
        rgba(0, 0, 0, 0.8) 100% /* → затемнение к правому краю */
    );
  }

  > * {
    position: relative;
    z-index: 1;
  }
}
